.all-products h3{
	opacity: 0;
}

.products-list{
	list-style:none;
	margin-left:225px;
	max-width: 1500px;
	text-align: center;
	padding: 0;
	opacity: 0;
	font-size: 0;
}

.all-products.visible .products-list,
.all-products.visible,
.all-products.visible h3{
	opacity: 1;
	transition: 1s;
	pointer-events: auto;
}
.products-list > li{
	box-sizing:border-box;
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: 0.2s;

	text-align:left;
	font:normal 12px sans-serif;

	background-color:#ffffff;
	border:1px solid #dbe3e7;
	border-radius: 3px;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);

	margin: 0 12px 14px 0;
	padding: 25px;
}

.products-list > li.hidden{
	opacity: 0.2;
	pointer-events: none;
}
.products-list{
  list-style:none;
}
#data-categories > li{
  display: inline-block;
  padding: 15px;
}
#data-categories > a, a:link {
  text-decoration: none;
  color: black;
}

/* Single Products */
.single-product{
	z-index: 100;
}

.overlay{
	height: 1px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #282b2c;
	transition: 0.6s;
	z-index: 100;
}

.single-product.visible .overlay{
	height: 100%;
}

.preview-large{
	box-sizing: border-box;
	width: 800px;
	height: 550px;
	position: fixed;
	left: 50%;
	margin-left: -375px;
	top: 50%;
	margin-top: -275px;
	pointer-events: none;

	border-radius: 6px;
	background-color:  #ffffff;

	z-index: 102;
	opacity: 0;
	transition: 0.4s;

}

.single-product.visible .preview-large{
	opacity: 1;
	transition: 1.4s;
	pointer-events: auto;
}

.preview-large h3{
	margin-top: 20px;
}

.preview-large img{
	width: 100%;
	height: 280px;
	border-bottom: 3px solid #efefef;
	border-radius: 5px 5px 0 0;
}



.close{
	position: absolute;
	right: 25px;
	top: 15px;

	font-size: 28px;
	color: #555;
	cursor: pointer;
}
/*---------------------------
	Error Page
----------------------------*/

.error{
	opacity: 0;
	transition: 0.6s;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
}

.error.visible{
	opacity: 1;
}

.error h3{
	font-size: 40px;
}
